@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$main-color: #151515;
$react-blue: rgb(9, 211, 172);
$react-blue-transparent: rgba(9, 211, 172, 0.4);
$containerCircle: #5B5A5A;
$titulo-blanco: rgb(255, 255, 255);