@import "colorVariables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400&display=swap');

.imgIndice {
    width: 30px;
}

ol {
    color: $titulo-blanco;
}

a {
    color: $titulo-blanco;
    
}


.indice {
    margin: 20px 15px;
}

.enlace {
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    line-height : 1.7em;
    font-weight: 100;
}