

@import "./colorVariables.scss";

body, html{
    background-color: $main-color;
}

.App{
    display: grid;
    grid-template-rows: 15% 80% 150%;
    height: 100vh;
    background-color: $main-color;
}

.Contenedor {
    grid-area: 2 / 1;
    display: grid;
    // grid-template: 100% / 20% 1fr; //Before
    grid-template: 100% / 20% 77%; 

}

.Indice {
    grid-area: 1 / 1;
}

.Contenido {
    grid-area: 1 / 2;
}

.nodes-container{
    display: grid;
    margin-top: 5em;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}