@import "./colorVariables.scss";


.node-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    // opacity: 0.5;
    border: 2px solid $react-blue;
    background-color: $containerCircle;
    z-index: 1;


    .innerCircle{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 23vmin;
        width: 23vmin;
        border-radius: 50%;
        border: 2px solid $react-blue;
        background-color: $main-color;
        z-index: 2;

        .centerCircle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 15vmin;
            width: 15vmin;
            border-radius: 50%;
            background-color: $react-blue-transparent;

            img{
                height: 10vmin;
                animation-name: spin;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                // animation-fill-mode: forwards;
            }
        }

    }
}


// .info-container::before{
//     content: "";
//     background-image: url('https://source.unsplash.com/random');
//     background-size: cover;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: -2;
//     opacity: 0.4;
// }

// .info-container{
//     display: grid;
//     position: relative;
//     grid-template-rows: 15% 1fr 5%;
//     grid-template-columns: repeat(2, 1fr);
//     z-index: 3;
//     height: 80vh;
//     width: 100vw;
//     // background-color: $react-blue-transparent;


//     .title-container{

//         display: flex;
//         flex-direction: row;
//         height: 100%;
//         width: 100%;

//         h2{
//             margin-left: 3%;
//             margin-top: 3%;
//             color: rgba(255, 207, 64, 0.8);
//         }
       

//         img{
//             margin-left: 3%;
//             margin-top: 2%;
//             height: 6vmin;
//             animation-name: spin;
//             animation-duration: 4s;
//             animation-iteration-count: infinite;
//             animation-timing-function: linear;
//         }
//     }

//     .innerSquare{
//         grid-column-start: 1;
//         grid-column-end: 2;
//         margin-left: 12%;
//         width: 80%;
//         background-color: rgba(0,0,0,0.5);
//     }

// }

.small-window::after{
    content: "";
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $react-blue-transparent;
    display: block;
    position: absolute;
    top:-7%;
    left: 40%;
}

.small-window{
    // margin-top: 20%;
    margin-top: 20%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    // grid-template-columns: 80% 20%;
    width: 25vmin;
    height: 35vmin;
    text-align: center;
    background-color: $react-blue-transparent;
    border-radius: 5%;
    position: relative;
    align-items: center;

    .mybagde1{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        height: 6vmin;
        justify-content: center;
    }

    .mybagde2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        height: 4vmin;
    }

    .mybtn1{
        height: 5vmin;
        justify-self: center;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .mybtn2{
        height: 5vmin;
        justify-self: center;
        grid-row-start: 3;
    }

}

// .small-window::before{
//     display: absolute;
//     content: "";
//     display: block;
//     height: 100%;
//     width: 100%;
//     border-radius: 10%;
//     background-color: $react-blue-transparent;
// }


@keyframes spin{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}