@import "./colorVariables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400&display=swap');

.plantilla{
    // background: #FFF;
    background-color: $containerCircle;
    display: grid;
    padding: 20px;
    height: 100%;
    grid-template: 15% auto / 100%;
    align-items: center;
    border-radius: 15px;
}

.plantilla h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}



.informacion {
    grid-area: 2 / 1;
    display: grid;
    grid-template: 100% / 60% 40%;
}

.portada2 {
    grid-area: 2 / 1;
    display: grid;
    grid-template: 100% / 40% 60%;
}

.informacion p , .portada2 p{
    grid-area: 1 / 1;
    margin: 2%;
    text-align: justify;
    font-size: 1.5em;
    padding: 5%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
.informacion img ,.portada2 img {
    grid-area: 1 / 2;
    width: 100%;
}

.informacion div , .portada2 div{
    grid-area: 1 /2;
}