.portada {
    display: grid;
    width: 90%;
    grid-template: 75% 25% / repeat(2, 50%);
    justify-items: center;
}

.react {
    grid-area: 1 / 1 / 2 / 3;
    width: 400px;
}

.node {
    grid-area: 2 / 1 / 3 / 2 ;
    width: 200px;
}

.npm {
    grid-area: 2 / 2 / 3 / 3;
    width: 200px;
}