@import "./CSS/colorVariables.scss";
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

.App-logo {
  height: 10vmin;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title{
  font-family: 'Bungee Shade', cursive;
  font-size: 8vmin;
}

.App-header {
  background-color: $main-color;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $titulo-blanco;
  display: grid;
  grid-template: 100% / 10% 90%;
  justify-self: center;
  justify-items: center;
}


@keyframes spin{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

